.bold {
  font-weight: 700
}

.card-container {
  margin-top: 30px;
}

.rounded-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.rounded-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.skill-label {
  margin: 5px;
  display:inline-block;
}